

.node-teaser.ds-notizia-anteprima , .ds-notizia-anteprima {
	width: 45%;
	padding: 0 20px 20px 0;
	float: left;
}

.group-header {
	clear: both;
	display: block;
	padding: 6px 0 10px 0;
	margin: 0;
}

.group-suffix {
  clear: both;
  font-weight: bolder;
  font-size: 1em;
  color: #779125;
}

.group-left {
/*	float: left;
	margin-right: 18px;*/
	margin-left: 2px;
	padding: 14px 0 0 0;
}

.group-right {
	font-size: 90%;
	margin-top: 10px;
	text-align: justify;
}

.group-footer {
	clear: both;
	padding: 0 0 10px 0;
	font-size: 90%;
}

.group-footer .field-name-node-link a {
	font-weight: normal;
}
