
.calendar-calendar .month-view .year.mini-day-on {
	background-color: #36F;	
}

.calendar-calendar .year-view td table td {
	padding-right: 4px !important;		
}

.calendar-calendar .year a, .calendar-calendar .year a.active, .calendar-calendar .year li a.active, .calendar-calendar .year li a:hover {
	padding-right: 4px;
	color: #FFF;
}

/*Formattazzione delle viste sugli abbonamenti*/

.abbonamenti-grid {
	padding-bottom: 16px;
	text-align: center;
}

.abbonamenti-grid div {
	padding-bottom:4px;
}

.abbonamenti-grid div .abbonamenti_title {
	font-weight: bold;
}