/* HTML 
--------------------------------------------------------------------------*/

body {
  line-height: 1.6em;
  font-size: 14px;
  color: #222222;
  background: none;	
  border-top: 3px solid #222222;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 28px;
}

h1.title {
  padding-bottom: 6px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color:   #eee;
  font-size: inherit;
  margin: 16px 0;
  padding: 0;
  width: 100%;
}

.view-content table {
margin: 4px 0;
}

p {
  padding-bottom: 0.2em;
}

th, thead, thead th {
  background-color: #333;
  border: none; 
  color:  #fcfcf8;
  padding-right: 1em;
  text-align: left;
  font-weight: bold;
  height: 20px;
  padding: 6px 0 4px 4px;
  vertical-align: middle;
}

th a, thead a, thead th a {
	color: #F90;  
}

td {
  padding: 6px 0 4px 4px;

}

legend {
	padding: 4px 0;
	font-weight: bold;
}

ul.action-links {
  padding: 6px 0 6px 6px;
}

.tabs.primary {
  font-size: 85%;
 }

a:hover {
	color: #900;
	text-decoration: underline;
}


.fieldset-wrapper {
  padding: 4px 0 10px 14px;
}

label {
  margin-bottom: 2px;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.form-item, .form-actions {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.more-link {
  text-align: right;
  padding-top: 10px;
}

/* HEADER 
--------------------------------------------------------------------------*/

.header-wrapper-inner {
	padding: 4px 0 0 0;
	background-color: #000;
}

header {
  position: relative;
}

.logo-slogan .site-logo {
  float: left;
  margin-right: 20px;
}

.logo-slogan .site-logo a {
  z-index: 200;
}

h1.site-name a, h2.site-name {
  display: none;
}

h1.site-name a, h2.site-name a {
  margin-top: 20px;
  line-height: 60px;
  padding-right: 15px;
  color: #FFF;
  font-family: 'Alfa Slab One', cursive;
  font-size: 140%;
}



h3.site-slogan {
  float: none;
  width: 70%;
  padding-top: 4px;
  font-weight: bold;
  line-height: 14px;
  font-size: 14px;
  color: #666666;
  vertical-align: middle;
}

#fieramilanomedia-logo.fieramilanomedia-logo {
  position: absolute;
  top: 0;
  right: 20px;
}

#banner-top.banner-top {
  position: absolute;
  top: 28px;
  left: 260px;
  z-index: 100;
}

.social {
  float: right;
  padding-top: 7px;
  margin-top: 60px;
}

#search-box {
	float: right;
	margin: 0 0 10px 0;
	text-align: right;
}

#block-search-form {
  margin-left: 10px;
  text-align: right;
}

#block-search-form .container-inline {
  margin: 16px 0 0 0;
}

#search-block-form {
	margin-top: 0;
	background: 0;
	line-height: 36px;
	background-color: #FFF;
}

#search-block-form .form-text {
	margin-left: 6px;
	padding: 4px;
	width: 150px;
	color: #666;
	font-size: 12px;
	background-color: #FFF;
	border: thin solid #999;
}

#search-block-form .form-submit {
	display: inline-block; zoom: 1; *display: inline;
	margin-right: 0;
	width: 40px;
	height: 39px;
	padding: 0 5px;
	border-radius: 0;
	text-transform: uppercase;
	background: 0;
	font-weight: normal;
	text-indent: -999em;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.search-results {
  list-style: none;
  margin-top: 20px;
}

.rss {
  background: url(../images/feed-icon.png) no-repeat;
}


/* SLIDESHOW 
--------------------------------------------------------------------------*/

/* PREFACE - POSTSCRIPT
--------------------------------------------------------------------------*/

.postscript-wrapper {
	font-size: 85%;
}

.preface-wrapper {
	font-size: 90%;
	color: #FFF;
	padding: 0;
	margin: 0 -15px;
	background: #be1125;
}

.preface-wrapper a {
	color: #FFF;
	font-weight: normal;
}

.preface-wrapper a:hover {
	text-decoration: underline;	
}

.preface-wrapper .block-inner {
padding: 4px 0px;
margin-bottom: 0px;
}

/* MAIN CONTENT 
--------------------------------------------------------------------------*/

.main-inner {
  padding: 8px 0 0 6px;
}

.sidebar  {
  padding: 8px 0 0 0;
}

.front #page-title {
  display: block;
}

.submitted, .field-name-field-data,
.views-field.views-field-created,
.views-field.views-field-field-data {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 95%;
  color: 
  #be1125;
  font-weight: bold;
  text-transform: uppercase;
}

.field {
padding: 6px 0 0;
}

.field.field-name-title {
  margin-top: 6px;
}

.field.field-name-field-section, .field-name-field-tags {
  padding: 6px 0 0 0;
}

.field-name-field-section .field-item, .field-name-field-tags .field-item {
  display: inline-block; zoom: 1; *display: inline;
  margin-right: 4px;
}

.taxonomy-inner .field-name-field-section .field-item a {
  display: block;
  padding: 2px 10px;
  float: left;
  font-size: 12px;
  color:   #ffffff;
  background: #be1125;
  border-radius: 3px;
}

/* SIDEBARS 
--------------------------------------------------------------------------*/

.sidebar .block-inner {
  margin-bottom: 12px;
  border-bottom: 1px dashed #dddddd;
}

.sidebar .block-inner .content {
	padding: 14px 0 10px 0;
	overflow: hidden;
}

.sidebars-split .banners-right {
  float: right;
  width: 200px;
  margin-left: 10px;
}

.grid_3 {
  display: inline;
  float: left;
  margin-left: 4px;
  margin-right: 4px;
}

.grid_1 {
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 0;
}



.page-outer.container_12 {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}

.page-outer {
  margin: 30px auto;
}

.page-inner {
	margin: 0px auto;
	background: #ffffff;
	-moz-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
	border: thin solid #CCC;
}

.page-inner.container_12 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

#banner-extratheme {
  position: absolute;
  right: -170px;
  top: 0px;
}

.container_12 .grid_8 {
  width: 590px !important;
}

.container_12 .grid_11 {
  width: 800px !important;
}

.container_12 .grid_12 {
  width: 900px;
  margin: 0;
}

.container_12 .grid_4 {
width: 260px;
}

.container_12 .grid_1 {
  width: auto;
}


.container_12 .second-sidebar.grid_3 {
  width: 220px;
  font-size: 85%
}

.container_12 .second-sidebar .quicktabs_main.quicktabs-style-nostyle .item-list {
  padding: 4px 0;
}

.container_12 .second-sidebar .more-link a {
  font-size: 80%;
  padding: 2px 10px;
}

.second-sidebar .block-inner {
margin-right: 6px;
}

.sidebar #block-views-banner-zona-destra-block .block-inner .content {
  padding: 0;
  overflow: hidden;
}

.field-name-field-image img, .field-name-field-immagini img {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #dddddd;
}



/* FOOTER
--------------------------------------------------------------------------*/

/* LISTS 
--------------------------------------------------------------------------*/

/* USER MENU 
--------------------------------------------------------------------------*/

/* MAIN MENU 
--------------------------------------------------------------------------*/

/* SIDE MENU 
--------------------------------------------------------------------------*/

/* CONTENT TOP & CONTENT BOTTOM
--------------------------------------------------------------------------*/

/* NODES
--------------------------------------------------------------------------*/

.node-teaser {
  width: 100%;
  float: left;
  margin-bottom: 6px;
}
 
 .ds-rivista-contenuto-completo .field-name-field-link-abbonamento a,
.ds-rivista-contenuto-completo .views-field-field-link-abbonamento a,
.ds-rivista-contenuto-completo .field-name-field-link-bottone a,
.ds-rivista-contenuto-completo .views-field-field-link-bottone a,
.view-catalogo-realestate .field-name-field-link-abbonamento a,
.view-catalogo-realestate .field-name-field-link-bottone a {
	display: block;
	padding: 2px 10px;
	margin: 4px auto;
	font-size: 90%;
	color: #ffffff;
	background: #be1125;
	border-radius: 3px;
	width: 140px;
	text-align: center;
}

.field-collection-container, .field-type-field-collection {
  border-bottom: none;
  margin-bottom: 0.2em !important;
}

.field-type-field-collection .field {
  padding: 2px 0 2px 4px;
}


/* Teasers */

/* COMMENTS
--------------------------------------------------------------------------*/

/* BREADCRUMBS
--------------------------------------------------------------------------*/

/* SEARCH FORM
--------------------------------------------------------------------------*/

/* SOCIAL
--------------------------------------------------------------------------*/

/* MISC
--------------------------------------------------------------------------*/

.taxonomy-term-description {
margin: 5px 0 6px;
}

.sidebar .block-inner .content {
padding: 14px 0;
overflow: hidden;
}


/* VIEWS
--------------------------------------------------------------------------*/

.view-header {
  margin: 6px 0;
  padding: 4px 0;
}


.item-list .pager {
  clear: both;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.item-list ul.pager li {
  display: inline-block; *display: inline; zoom: 1;
  padding: 0px;
  line-height: 32px;
  margin: 0 2px;
}

.exposed-filters .form-item {
  margin: 0 0 0.4em 0;
  padding: 0;
}

.view-ultime-notizie .views-view-grid td {
  padding: 10px 20px 10px 0;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #CCC;
  
}

.view-slideshow .views_slideshow_main img {
  padding: 10px;
  width: 580px;
  height: auto;
  border: 1px solid #dddddd;
}

.view-slideshow .views_slideshow_main .views-field-body {
  padding-bottom: 0px;
  width: 90%;
}

.view-ultime-notizie .views-view-grid td.col-2 {
  margin-left: 10px;
}


.view-catalogo-realestate {
/*  font-family: 'Source Sans Pro', sans-serif;*/
}

.view-catalogo-realestate .views-view-grid tr td {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.view-ultime-riviste-realestate table.views-view-grid  {
  width: 90%;
}

.view-ultime-riviste-realestate .views-view-grid tr td {
text-align: center;
padding: 0;
}

.view-ultime-riviste-realestate .views-view-grid tr td .block-ultima-rivista-uscita {
  font-size: 80%;
}

.view-catalogo-realestate .views-view-grid tr td .views-field-name, .view-catalogo-realestate .views-view-grid tr td h2 {

	font-size: 130%;
	text-transform: uppercase;
	padding: 6px 0;
}

.view-ultime-riviste.in-archvio {
  border-top: 1px solid #dddddd;
  padding: 10px 4px;
  margin-top: 10px;
}

.view-ultime-riviste .view-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 120%;
	text-transform: uppercase;
	font-weight: bold;
}

.view-amministra-i-contenuti table th.views-field-field-section, .view-amministra-i-contenuti table td.views-field-field-section {
  width: 220px;
}

.view-contatti-rivista {
  display: block;
  margin: 10px 0 0 4px ;
}


.view-contatti-rivista .title {
  font-size: 110%;
  padding-bottom: 6px;
  margin: 0;
}

.view-slideshow, .view-catalogo-realestate-slideshow, .view-slideshow-notizie {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 6px;
  border-bottom: 1px dashed #dddddd;
}

.view-slideshow-notizie .views_slideshow_main img {
  padding: 10px;
  border: 1px solid #dddddd;
  width: 570px;
}

.view-catalogo-realestate-slideshow h1 {
  font-size: 180%;
}

.views-field-field-imm-copertine img {
  padding: 3px;
  border: 1px solid #dddddd;
}


.view-contatti-riviste-realestate {
  padding: 10px 0 4px 0;
  margin-bottom: 20px;
}

.view-contatti-riviste-realestate h3 {
  padding-top: 14px;
}

.view-ultima-copertina-rivista {
  padding: 4px 0 0 0;
  z-index: 200;
}

.view-elenco-spazi-pubblicitari {
  margin-left: 6px;
}

.view-elenco-spazi-pubblicitari table {
  margin-bottom: 10px;
}


.view-elenco-spazi-pubblicitari td {
  padding: 0 0 0 4px;
}

.view-elenco-spazi-pubblicitari .view-header h3 {
  font-size: 180%;
}


/* OTHERS
--------------------------------------------------------------------------*/

.addthis {
  clear: both;
  padding: 6px 0 0 0;
}

html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: auto;
}

.container-inline {
  margin: 16px 0 0 0;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
  margin: 0 10px 0 0;
  padding: 3px 10px;
}

span.autocomplete-deluxe-button {
  top: 0em;
  left: 2px;
  height: 1.75em;
  overflow: hidden;
  outline: none;
}

#header-top #block-locale-language {
  float: right;
  margin: 10px 0;
}

.sidebar #block-views-banner-zona-destra-block .block-inner, .sidebar #block-views-banner-single-block-block .block-inner {
  margin-bottom: 0;
  border-bottom: none;
}

.sidebar #block-views-banner-single-block-block .block-inner .content {
  padding: 0 0 20px 0;
}

.sidebar.fisrt-sidebar #block-views-banner-zona-destra-block {
  text-align: center;
  
}

.sidebar.first-sidebar #block-views-banner-zona-destra-block .views-field-field-image {
  width: 160px;
}

.sidebar.first-sidebar #block-views-banner-zona-destra-block img {
  width: 100%;
  height: 100%;
}