
@media only screen and (max-width: 1024px) {
	
	body {
		font-size: 80% !important;
	}

	.content-style {
		padding: 15px 20px;

	}
	
	#branding, .region-header {
		font-size: 90%;
	}

	.region-highlighted ul.main-menu li,
	.region-highlighted .block-main-menu ul.menu li,
	#primary-menu-bar ul.primary-menu li {
		font-weight: bold;
		display: inline;
		padding: 8px 6px;
		font-size: 100%;
	}

	.ds-my-project-preview .group-left {
		float: left;
		margin: 0 20px 20px 4px;
		width: 50%;
		display: block;
	}
	
	.ds-my-project-preview .group-right .field.field-name-body {
		display: none;
	}
	
	.ds-my-project-preview .field-name-field-tags {
		font-size: 90%;
	}
	
	.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
		display: none;
	}

        .view-getlocation-map .getlocations_map_wrapper, .view-getlocation-map .getlocations_map_canvas, 
        .block-ip-mini-map .ip-geoloc-map .leaflet-container {
		max-height: 160px;
        }

	.view-mini-map .goto-mainmap a {
		font-size: 0.7em;
		margin-top: 8px;
		padding: 4px 6px;
		border-radius: 4px;
	}
	
	body.page-node .field-slideshow-slide img {
		width:98% !important;
		margin: 0;
	    }

	.field-slideshow-slide, .field-slideshow-slide a, .field-slideshow-slide img {
		width: 95% !important;
	}
	    
	.embedded-video iframe {
		width: 90%;
	}


}