.ds-my-project-in-experience.article {
  margin: 0;
}

.ds-my-project-in-experience .group-content {
  margin: 4px 0 0 0;
}

.ds-my-project-in-experience .group-left {
  float: left;
  margin-left: 4px;
  margin-right: 20px;
  display: block;
}


.ds-my-project-in-experience  .group-right {
  text-align:justify;
  margin-left: 10px;
}




