/**** CSS for Geofield GMap corrections ***/

.ip-geoloc-map {
	border: 1px solid #666;
	font-size: 0.8em;
}

/* Geofield Map module */
.gm-style img {
	max-width: none;
}

/**** CSS for Leaflet Map fixes ***/

div.leaflet-popup-content-wrapper {
	max-width:  200px;
	font-size: 0.9em;
}

.leaflet-top {
	z-index: 100;
}

.leaflet-popup p {
	margin:  0;
}

.leaflet-popup div.title {
	font-weight: bold;
}

.leaflet-popup div.image {
	display: none;
}

/*** Zoom in map ***/
a.map-zoom {
    color: #E76730;
    margin: 2px 0;
    font-size: 100%;
    border: none;
    border-radius: 4px;
    text-transform: none;
    font-weight: bold;
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    text-shadow: 1px 1px 1px #B3B3B3;
    white-space: nowrap;
}

a.map-zoom:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/**** view-company-sites-map ****/

.view-company-sites-map .view-header {
	float:  right;
	padding: 0;
	margin:  0;
}

.view-company-sites-map .map-reset,
.view-company-sites-map .map-legend {
	position: relative;
	top:  6px;
	right:  0;
	float: right;
	margin: 0 10px 0 20px;
}

.view-company-sites-map.company-sites-list .map-reset {
	top:  0px;
}

.view-company-sites-map #edit-field-site-type-value-wrapper.views-exposed-widget label,
.view-company-sites-map #edit-field-site-type-value-wrapper.views-exposed-widget .views-widget,
.view-company-sites-map #edit-field-site-type-value-wrapper.views-exposed-widget .form-item {
	display:  inline-block;
	margin-right:  10px;
}

/**** View Company Sites List ****/


.view.company-sites-list {
	margin:  6px 0;
	height:  300px;
	overflow-y: scroll;
}

.view.company-sites-list .views-slideshow-cycle-main-frame {
	box-shadow: none;
}

.view.company-sites-list .views-slideshow-cycle-main-frame .views_slideshow_cycle_slide {
	background: yellow;
}

.view.company-sites-list .views-row {
	margin:  0 !important;
	padding: 8px;
	border-bottom: thin solid #e6e6e6;
}

.view.company-sites-list .views-row.views-row-odd {
	/*background: #e6e6e6;*/
}

.view.company-sites-list .views-row .views-field .site-content {
	width: 100%;
}

.view.company-sites-list .views-row .views-field .site-content .column {
	display:  inline-block;
	margin:  0 5px 0 0;
	vertical-align: top;
	font-size: 0.95em;
}

.view-company-sites-map .view-content p,
.view.company-sites-list .views-row .views-field p {
	margin:  0 !important;
}

.view.company-sites-list .views-row .views-field .site-content div.title {
	font-weight: bold;
	font-size: 1.1em;
}

.view.company-sites-list .views-row .views-field .site-content div.type,
.view.company-sites-list .views-row .views-field .site-content div.category {
	font-size: 0.9em;
}

.view.company-sites-list .views-row .views-field .site-content div.links {
	margin: 6px 0;
}


.view.company-sites-list .views-row .views-field .site-content .col-1 {
	width:  6%;
}

.view.company-sites-list .views-row .views-field .site-content .col-2 {
	width:  25%;
}


.view.company-sites-list .views-row .views-field .site-content .col-3 {
	width:  30%;

}

.view.company-sites-list .views-row .views-field .site-content .col-4 {
	width:  32%;
}

/**** Js Interaction ... ***/

.view.company-sites-list .views-row.highlighted {
	background:  #ffffcc;
	color:  black;
}

.view.company-sites-list .views-row.strong-highlighted {
	background:  #ffffcc;
	border: thin solid #999999;
	color:  black;
}

.view.company-sites-list .views-row.sublighted {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity:0.5;
}

.view.company-sites-list .views-row .map-reset {
	font-size: 0.9em;
	position: relative;
	margin: 20px 0;
	text-align: center;
	top: 0px;
	right: 0px;
	display:  none;
}

.view.company-sites-list .views-row .click-to-zoom {
	position: relative;
	margin: 16px 0;
	text-align: center;
	top: 0px;
	right: 0px;
	display:  none;
} 

.view.company-sites-list .views-row.highlighted .click-to-zoom,
.view.company-sites-list .views-row.strong-highlighted .map-reset {
	display:  block;
}

/*** .legenda-categorie-sedi ***/

.legenda-categorie-sedi .views-row {
	margin: 0 !important;
}

.legenda-categorie-sedi {
	font-size: 1em !important;
}

.view-legenda-categorie-sedi-aziendali .view-content {
    position: relative;
		display: table;
		margin:  4px 0 !important;
    padding: 0 0 4px 0 !important;
}

.legenda-categorie-sedi .legend-item {
	display: table-row;
	width:  100%;	
}

.legenda-categorie-sedi .legend-item .marker-icon {
	display: table-cell;
	width:  40px;
}

.legenda-categorie-sedi .legend-item .marker-icon img {
	height: 30px !important;
	width: auto !important;
}

.legenda-categorie-sedi .legend-item .marker-title {
	display: table-cell;
	padding-top: 10px;
}

.ip-geoloc-map.leaflet-view .ui-dialog .ui-dialog-titlebar {
	padding:  .2em 1em;
}

.ip-geoloc-map.leaflet-view .ui-corner-all {
	border-radius: 0 !important ;
}

.ip-geoloc-map.leaflet-view .ui-dialog-title {
	color: white;
}


/**** Search Place View Footer ***/

#search-closer-site {
	position: relative;
	margin-top: 12px;
	vertical-align: middle;
	color: black;
}

#search-closer-site label,
#search-closer-site input,
#search-closer-site span {
	display: inline-block;
	margin: 0 10px 0 0;
}

#search-closer-site input#search-address-input {
	color:  black !important;
}

#search-closer-site input#search-address-input.start-text {
	color:  gray !important;
}

#search-closer-site #search-place-icon img {
	height: 26px;
	display: inline-block;
	vertical-align: middle;
	margin-top:  -6px;
}

#search-closer-site #search-distance-result {
	font-weight: bold;
	color:  red;
	font-size:  1.2em;
}

.ui-autocomplete.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: 400;
		font-size:  0.9em;
		color: #132f75;
}


.ui-autocomplete .ui-corner-all {
	border-radius: 0 !important ;
}

/*** Specific for Costan ***/

.ui-autocomplete.ui-menu .ui-menu-item a,
.view.company-sites-list .views-row .views-field .site-content div.title {
	color:  #132f75;
}

.ip-geoloc-map.leaflet-view .ui-widget-header {
	background: #132f75;
}



