
.ds-nodo-contenuto {
	padding: 0 10px 4px 4px;
}

.ds-nodo-contenuto .group-header {
	clear: both;
	display: block;
	padding: 6px 0 10px 0;
	margin: 0;
}

.ds-nodo-contenuto .group-suffix {
  clear: both;
  font-weight: bolder;
  font-size: 1em;
  color: #779125;
}

.ds-nodo-contenuto .group-image {
	float: left;
	margin-right: 18px;
	margin-left: 2px;
	padding: 4px 0 0 0;
	width: 98%;
	overflow: hidden;
}


.ds-nodo-contenuto .group-description {
/*	float: left;
	margin-right: 18px;*/
	margin-left: 2px;
	padding: 10px 0 10px 0;
	text-align: justify;
}

.ds-nodo-contenuto .group-left {
/*	float: left;
	margin-right: 18px;*/
	padding: 14px 0 0 0;
}

.ds-nodo-contenuto .group-right {
	font-size: 90%;
	margin-top: 10px;
	text-align: justify;
}

.ds-nodo-contenuto .group-footer {
	clear: both;
	padding: 0 0 10px 0;
	font-size: 90%;
}

.ds-nodo-contenuto .group-footer .field-name-node-link a {
	font-weight: normal;
}
