

.ds-my-project-preview.article {
  font-size: 0.9em;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
	border-bottom: 1px solid #dddddd;
}


.ds-my-project-preview.article .field {
  margin: 4px 0;
}

.ds-my-project-preview .field-type-image figure {
	padding-top: 0 !important;
}

.ds-my-project-preview .field.clearfix {
  width: 100%;
}

.ds-my-project-preview .field.clearfix::after {

}

.ds-my-project-preview p {
  margin-top: 6px;
  margin-bottom: 4px;
}

.ds-my-project-preview .group-header {
  margin-top: 4px;
  margin-bottom: 4px;
}

.view-home-images-grid.isotope-container .views-row {
    float: left;
/*    background: #ff8000;*/
    width: 41%;
    margin: 10px 2%;
    padding: 0px;
    -moz-box-shadow: 0px 0px 5px #aaa;
    -webkit-box-shadow: 0px 0px 5px #aaa;
    box-shadow: 0px 0px 5px #aaa;
    padding:  8px;
    border: solid thin #ffffff;
}

.ds-my-project-preview .group-header .field-name-title {
	font-size:1.4em;
	font-weight: bold;
	margin: 0 0 0.5em;
}

.ds-my-project-preview  .group-content {
  position: relative;
}

.ds-my-project-preview .group-left {
  float: left;
  margin: 0 4% 4px 0;
  width: 50%;
  display: block;
}

.ds-my-project-preview  .group-left .field-name-field-image img,
.ds-my-project-preview  .group-left .field-name-field-cover-images img,
.ds-my-project-preview  .group-left .views-field-field-cover-images img {
  width: 95%;
}

.ds-my-project-preview  .group-left  .field-type-image figure {
  padding: 0;
}

.ds-my-project-preview  .group-left img.image-style-minithumbnail-progetti {
  width: 15% !important;
}


.ds-my-project-preview  .group-right {
  text-align:justify;
  padding: 0 10px 0 0;
  margin-left: 55%;
}

.flexslider .ds-my-project-preview  .group-right {
  margin-left: 56%;
}

.ds-my-project-preview  .group-right .field  {
  display: block;
  width: 100%;
  float: left;
}

.ds-my-project-preview  .group-footer {
  padding-top: 4px;
}







