

.ds-my-project-preview.article {
  font-size: 0.9em;
  padding-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  display: block;
  width: 100%;
}

.ds-my-project-preview.article .field {
  margin: 4px 0;
}


.ds-my-project-preview p {
  margin-top: 6px;
  margin-bottom: 4px;
}

.ds-my-project-preview .group-header {
  margin-top: 6px;
  margin-bottom: 16px;
}

.ds-my-project-preview  .group-content {
  position: relative;
}

.ds-my-project-preview .group-left {
  float: left;
  margin-bottom: 20px;
  margin-left: 4px;
  width: 50%;
  display: block;
}

.ds-my-project-preview  .group-left .field-name-field-image img {
  margin-right: 1%;
}

.ds-my-project-preview  .group-left .field-name-field-image img.image-style-minithumbnail-progetti {
  width: 15%;
}


.ds-my-project-preview  .group-right {
  text-align:justify;
  padding: 0 10px 0 0;
  margin-left: 55%;
  
}

.ds-my-project-preview  .group-right .field  {
  float: left;
  
}

.ds-my-project-preview  .group-footer {
  padding-top: 10px;
  width: 80%;
}





